# Prevents publish from any branch other than main
publish-branch=main
# Saves exact versions of dependencies by default
save-prefix=""
# Ensures we use locally linked packages when available
link-workspace-packages=true
# Defaults to saving as workspace:*
save-workspace-protocol=rolling
